@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply min-w-fit font-primary box-border;
  }
}

.pendant_light {
  clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
}

.imgAnimation {
  animation: imageScale 4s ease infinite;
}

.imgAnimation2 {
  animation: imageScale 6s ease infinite;
}

@keyframes imageScale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
